/* Mobiles upto 479 maximum width (portrait) ----------- */
body{
    font-family: raleway;
    color: rgb(255,255,255);
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

#dropdownmenu{
    display: inline;
}

#menuimg{
    width: 2rem;
    cursor: pointer;
    padding: 1rem;
}

.menucontent{
    height: 7rem;
    text-align: left;
    padding: 0.3rem;
    background-color: rgb(0,0,0);
    animation: movedown 0.5s;
    position: relative;
    left: 0;
    overflow: hidden;
    z-index: 1;
    display: none;
}

@keyframes movedown{
    from { height: 0; }
    to   { height: 7rem; }
}

.menucontent a{
    font-size: 1rem;
    text-decoration: none;
    padding: 0.3rem 1rem;
    color: rgb(255,255,255);
    display: block;
}

.menucontent a:link{
    color: rgb(255,255,255);
}

.menucontent a:visited{
    color: rgb(255,255,255);
}

.menucontent a:hover{
    color: rgb(69,170,242);
}

.menucontent a:active{
    color: rgb(69,170,242);
}

.showmenu{
    display: block;
}

#menu{
    display: none;
}

#navigation{
    background-color: rgb(0, 0, 0);
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-columns: 20% 80%;
    transition: top 0.5s;
}

#navigation div:nth-child(2){
    text-align: right;
    padding: 0.6rem 0.3rem 0.3rem 0.3rem;
}

#menu > a{
    font-family: consola;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
    padding: 1rem;
    position: relative;
    top: 15%;
}

#menu a:link{
    color: rgb(255,255,255);
}

#menu a:visited{
    color: rgb(255,255,255);
}

#menu a:hover{
    color: rgb(69,170,242);
}

#menu a:active{
    color: rgb(69,170,242);
}

#navlogo{
    text-align: left;
    padding: 0.2rem 0.3rem 0.2rem 2rem;
}

#navimg{
    width: 5rem;
}

#home{
    height: auto;
}

#header{
    margin-top: 10rem;
}

#header div{
    text-align: left;
}

#header p{
    color: rgb(255,255,255);
    margin: 0;
}

#hello{
    font-family: consola;
    font-size: 1.2rem;
    margin-left: 3rem;
}

#header div:nth-child(3){
    font-family: calm;
    font-size: 1.7rem;
    margin: 1rem 3rem 2rem 3rem;
}

#header div:nth-child(4){
    font-family: raleway;
    font-size: 1.2rem;
    margin: 0 3rem;
}

#header div:nth-child(5){
    margin: 4rem 0 3rem 3rem;
}

.more-button {
    font-family: consola;
    font-size: 1rem;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.3s;
}

.more-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.blink {
    animation: blink 0.5s infinite;
}

@keyframes blink{
    to { opacity: .0; }

}

.flex {
	display: flex;
}

.header-sub-title {
    font-family: calm;

}

.pagetitle p{
    font-family: texgyreadventor;
    font-size: 2.2rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

#about{
    height: auto;
    padding-top: 1.5rem;
    margin-top: 15rem;
}

#aboutprofile{
    display: grid;
    margin: 3rem 3rem 0 3rem;
}

#aboutprofile-post{
    margin: 3rem 4rem 3rem 4rem;
}

.card-container{
	background-color: rgb(20, 20, 20);
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: rgb(255, 255, 255);
	padding-top: 30px;
	width: 100%;
	text-align: center;
}

.card-container h3{
	margin: 10px 0;
}

.card-container h6{
	margin: 5px 0;
	text-transform: uppercase;
}

.card-container p{
	font-size: 14px;
	line-height: 21px;
}

.card-container .round{
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	padding: 7px;
}

.card-skills{
	background-color: rgb(10, 10, 10);
	text-align: center;
	padding: 15px;
	margin-top: 0;
}

.card-skills ul{
	list-style-type: none;
    padding: 0;
}

.card-skills ul li{
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 2px;
	display: inline-block;
	margin: 2px;
	padding: 2px;
}

#profileimg{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    width: 10rem;
}

#profileimg:hover{
    filter: none;
    -webkit-filter: grayscale(0);
}

#abouttext{
    text-align: left;
    background-color: rgb(0, 0, 0);
}

#abouttext p:nth-child(1){
    font-size: 1.1rem;
}

.skillimg{
    width: 1.5rem;
}

#project{
    height: auto;
    padding-top: 1.5rem;
    margin-top: 15rem;
}

.projectscontent{
    display: grid;
    grid-template-columns: 100%;
    margin: 3rem 0;
}

#project-image{
    display: none;
}

.projectimg{
    max-width: 100%;
    opacity: 0;
}

#project-description{
    background-color: rgb(20, 20, 20);
    position: relative;
    text-align: right;
    margin: 0 3rem;
    border-radius: 5px;
}

#project-description a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#project-description p{
    background-color: rgb(20, 20, 20);
    font-family: raleway;
    font-size: 1.1rem;
    padding: 1.5rem;
    border-radius: 5px;
}

#project-description p:nth-child(1){
    background-color: rgba(0, 0, 0, 0);
    font-family: calm;
    font-size: 1.3rem;
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
}

#project-description div:nth-child(4){
    margin: 2rem 0 0 0;
}

.skillusedimg{
    width: 1.5rem;
    margin: 0 1rem 0 0;
}

#postdetail{
    margin: 0 0 15rem 0;
}

.postdetailpubinfo{
    text-align: center;
    margin: 0 2rem;
}

.postdetailpubinfo span{
    margin: 0.1rem 0.5rem;
    display: inline-block;
}

.postdetailpubinfo span p{
    font-size: 0.8rem;
    margin: 0;
    display: inline-block;
}

#postdetailcontent p{
    font-size: 1.2rem;
    margin: 0 2rem;
}

#postdetaillist{
    text-align: left;
    margin: 0 2rem 2rem 2rem;
}

#postdetaillist p{
    font-family: texgyreadventor;
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

#postdetaillist a{
    font-family: ralewaymedium;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255,255,255);
    padding: 0.2rem 1rem 0.2rem 0;
    margin: 0;
    display: inline-block;
    cursor: default;
}

#postdetaillist span{
    cursor: pointer;
}

#contact{
    height: auto;
    margin-top: 15rem;
}

#contactlist{
    text-align: center;
    padding: 1rem 0 0 0;
    position: relative;
}

#contact-message{
    text-align: center;
    margin: 0 5rem 10rem 5rem;
}

#contact-message div{
    margin: 3rem 0 4rem 0;
}

#contact-message p{
    font-family: ralewaymedium;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.socials{
    text-align: right;
    margin: 0 0.5rem;
    display: inline-block;
}

.socialimg{
    width: 1.5rem;
    cursor: pointer;
}

#user-email-list{
    display: none;
}

#postdetailtitle{
    text-align: center;
    margin: 8rem 2rem 0 2rem;
}

#postdetailtitle p{
    font-family: texgyreadventor;
    font-size: 2rem;
    margin: 0;
}

#postdetailbody{
    text-align: left;
    margin: 1rem 0 5rem 0;
}

#postdetailcontents{
    margin: 3rem 0 2rem 0;
    display: grid;
    grid-template-columns: 100%;
}

#footer{
    font-family: consola;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/* Mobiles 480 minimum width upto 767 maximum width (portrait) ----------- */
@media only screen and (min-width : 480px){
    
    #header div:nth-child(3){
        font-size: 1.7rem;
    }

    #postdetailtitle{
        margin: 10rem 4rem 0 4rem;
    }

    .postdetailpubinfo{
        margin: 0 4rem;
    }

    .postdetailpubinfo span{
        margin: 0.1rem 0.3rem;
    }

    .postdetailpubinfo span p{
        font-size: 1rem;
    }

    #postdetailcontent p{
        margin: 0 4rem;
    }

    #postdetaillist{
        margin: 0 4rem 4rem 4rem;
    }

    #postdetaillist a{
        padding: 0.3rem 1rem 0.3rem 0;
    }

    .socials{
        margin: 0 1.1rem;
    }

}

/* iPads/Tablets 768 minimum width upto 1024 max width (portrait) ----------- */
@media only screen and (min-width : 768px){

    #hello{
        margin-left: 10rem;
    }
    
    #header div:nth-child(3){
        font-size: 1.8rem;
        margin: 1rem 10rem 2rem 10rem;
    }
    
    #header div:nth-child(4){
        margin: 0 10rem;
    }

    #header div:nth-child(5){
        margin: 4rem 0 3rem 10rem;
    }

    #aboutprofile{
        margin: 3rem 10rem 0 10rem;
    }

    #project-description{
        margin: 0 10rem;
    }

    #postdetail{
        margin: 0 4rem 15rem 4rem;
    }

    #contactlist{
        position: fixed;
        left: 1%;
        bottom: 0%;
    }

    #contact-message{
        margin: 0 10rem 10rem 10rem;
    }

    .socials{
        display: block;
        padding: 1rem 0;
    }

    .socials a{
        opacity: 0.5;
        transition: 0.3s;
    }

    .socials a:hover{
        opacity: 1;
    }

    .line-in-middle{
        left: 50%;
        width:1px;
        height:100px;
        background-color: rgb(255, 255, 255);
        position: relative;
    }

    #user-email-list{
        display: block;
        position: fixed;
        right: 3%;
        bottom: 0%;
    }

    #user-email{
        display: block;
        padding: 1rem 0;
    }

    #user-email a{
        font-family: consola;
        font-size: 1.1rem;
        color: rgb(255, 255, 255);
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-decoration: none;
        opacity: 0.5;
        transition: 0.3s;
    }

    #user-email a:hover{
        opacity: 1;
    }

}

/* Netbooks 1024 minimum width and 680 maximum height ----------- */
@media only screen and (min-width : 1024px) and (max-height : 680px){

    #dropdownmenu{
        display: none;
    }

    #menu{
        display: inline;
    }

    #hello{
        margin-left: 12rem;
    }
    
    #header div:nth-child(3){
        font-size: 3rem;
        margin: 1rem 12rem 2rem 12rem;
    }
    
    #header div:nth-child(4){
        margin: 0 20rem 0 12rem;
    }

    #header div:nth-child(5){
        margin: 4rem 0 3rem 12rem;
    }

    .pagetitle p, #postdetailtitle p{
        font-size: 2.5rem;
    }

    #postdetailtitle{
        text-align: left;
    }

    #aboutprofile{
        grid-template-columns: 40% 60%;
        margin: 3rem 0 0 10rem;
    }

    #abouttext{
        margin: 0 10rem 0 2rem;
    }

    .projectscontent{
        grid-template-columns: 50% 50%;
    }

    #aboutprofile-post{
        margin: 3rem 4rem 3rem 0;
    }

    #project-image{
        display: block;
        margin: 0 0 0 10rem;
        width: 100%;
    }

    #project-description{
        background-color: rgba(20, 20, 20, 0);
        margin: 0 10rem 0 0;
    }

    #project-description p{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .projectimg{
        opacity: 1;
    }

    .postdetailpubinfo{
        text-align: left;
    }

    #postdetaillist{
        margin: 0 4rem 4rem 0;
    }

    #postdetaillist a{
        padding: 0.3rem 0;
        display: block;
    }

    #postdetailcontents{
        grid-template-columns: 70% 30%;
    }

    #contact-message{
        margin: 0 20rem 15rem 20rem;
    }

}

/* Notebooks 1024 minimum width and 681 minimum height upto 1365 maximum height ----------- */
@media only screen and (min-width : 1024px) and (min-height : 681px) and (max-height : 1365px){

    #dropdownmenu{
        display: none;
    }

    #menu{
        display: inline;
    }

    #hello{
        margin-left: 12rem;
    }
    
    #header div:nth-child(3){
        font-size: 3.2rem;
        margin: 1rem 12rem 2rem 12rem;
    }
    
    #header div:nth-child(4){
        margin: 0 20rem 0 12rem;
    }

    #header div:nth-child(5){
        margin: 4rem 0 3rem 12rem;
    }

}

/* Desktops 1201 minimum width ----------- */
@media only screen and (min-width : 1201px){

    #hello{
        margin-left: 13rem;
    }
    
    #header div:nth-child(3){
        font-size: 3.8rem;
        margin: 1rem 13rem 2rem 13rem;
    }
    
    #header div:nth-child(4){
        margin: 0 30rem 0 13rem;
    }

    #header div:nth-child(5){
        margin: 4rem 0 3rem 13rem;
    }

    .pagetitle p, #postdetailtitle p{
        font-size: 3rem;
    }

}